    <!-- Flask Section -->
    <section id="flask" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Flask Section</h1>

                    <div class="col-lg-6 " style="margin-top: 40px;">
                        <p align="left">Flask es un microframework en python basado en Werkzeug, Jinja  que te permite crear aplicaciones web r&aacute;pidamente y con un m&iacute;nimo n&uacute;mero de l&iacute;neas de c&oacute;digo.</p>
                        <p align="left">Este framework  nos va a permitir crear aplicaciones web r&aacute;pidamente ya que incluye un servidor web de desarrollo para que podamos probar las aplicaciones desarrolladas sin tener que instalar Apache o Nginx.</p>
                        <p align="left">Algunas de las caracter&iacute;sticas m&aacute;s importantes que presenta este framework son las siguientes:</p>

                        <p align="left">&#8226; Propio servidor web </p>
                        <p align="left">&#8226; Debbuging </p>
                        <p align="left">&#8226; Fácil desarrollo </p>
                        <p align="left">&#8226; Gran cantidad de documentación </p>
                        <p align="left">&#8226; Compatibilidad con WSGI 1.0 </p>
                        <p align="left">&#8226; Soporte Integrado para hacer Unit Testing </p>
                        <p align="center"><b>Y antes de que Usted lo pida: Es BSD Licenciado! </b></p>
                    </div>
                    <div class="col-lg-6">
                        <h1>Flask es Divertido</h1>
                        <pre>
from flask import Flask
app = Flask(__name__)

@app.route("/")
def hello():
    return "Hola mundex!"

if __name__ == "__main__":
    app.run()
                        </pre>
                        <h1>Y f&aacute;cil de Ejecutar</h1>
                        <pre>
$ pip install Flask
$ python hello.py
 * Running on http://localhost:5000/
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </section>

