<!-- Heroku Section -->
<section id="heroku" class="heroku-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1>What is Heroku about?</h1>

          <div class="row">
            <div class="col-lg-6">
                <p style="margin-top: 40px;" class="lead">
                Heroku es una plataforma en la nube que permite a las empresas crear, entregar, supervisar y escalar apps — Es la forma m&aacute;s r&aacute;pida de ir desde los dolores de cabeza de estructura URL.
                Las aplicaciones se corren desde un servidor Heroku usando Heroku DNS Server para apuntar al dominio de la aplicaci&oacute;n (t&iacute;picamente nombreaplicacion.herokuapp.com). Cada aplicaci&oacute;n corre sobre un motor a trav&eacute;s de una “red de bancos de prueba” que consta de varios servidores. El servidor Git de Heroku maneja los repositorios de las aplicaciones que son subidas por los usuarios.
                </p>
            </div>
            <div class="col-lg-6">
              <img style="max-height: 300px;" class="img-rounded" src="/static/img/heroku-development.png">
            </div>
          </div>

          <div class="row">
            <h3>Lenguajes que Soporta</h3>
            <section class="languages border-top">
              <ul class="lang-list text-center">
                <li><a class="node" title="Node.js" href="/nodejs">Node.js</a></li>
                <li><a class="ruby" title="Ruby" href="/ruby">Ruby</a></li>
                <li><a class="java" title="Java" href="/java">Java</a></li>
                <li><a class="php" title="PHP" href="/php">PHP</a></li>
                <li><a class="python" title="Python" href="/python">Python</a></li>
                <li><a class="go" title="Go" href="/go">Go</a></li>
                <li><a class="scala" title="Scala" href="/scala">Scala</a></li>
                <li><a class="clojure" title="Clojure" href="/clojure">Clojure</a></li>
              </ul>
            </section>
            
          </div>
      </div>
    </div>
  </div>
</section>