    <!-- Python Section -->
    <section id="python" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>El poderoso lenguaje de programaci&oacute;n Python</h1>
<div class="row">
    <div class="col-lg-6" style="margin-top: 40px;">
        <p align="left">
            Python es un lenguaje de programaci&oacute;n interpretado cuya filosof&iacute;a hace hincapi&eacute; en una sintaxis que favorezca un c&oacute;digo legible
        </p>
        
        <p align="left">
            Python es un lenguaje de scripting independiente de plataforma y orientado a objetos, preparado para realizar cualquier tipo de programa, desde aplicaciones Windows a servidores de red o incluso, p&aacute;ginas web. Es un lenguaje interpretado, lo que significa que no se necesita compilar el c&oacute;digo fuente para poder ejecutarlo, lo que ofrece ventajas como la rapidez de desarrollo e inconvenientes como una menor velocidad.
        </p>
        <p align="left">
            Estas son algunas de las razones por la que las personas que usan Python preferir&iacute;an no usar nada m&aacute;s</p>
        <p class="lead">
            Es amigable y f&aacute;cil de aprender</p> y 
            <mark>Posee una licencia de C&oacute;digo-Abierto</mark>
        </p>
    </div>
    <div class="col-lg-6" style="margin-top: 40px;">
    <pre class="python">
<span class="comment"># Python 3: Fibonacci series up to n</span>
>>> def fib(n):
>>>     a, b = 0, 1
>>>     while a < n:
>>>         print(a, end=' ')
>>>         a, b = b, a+b
>>>     print()
>>> fib(1000)
<span class="output">0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987</span>
    </pre>
    <div>
    </div>        
    </div>

</div>


                </div>
            </div>
        </div>
    </section>

